@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}
body {
  background-color: #f3f4f6; /* Light gray background */
}

/* 
@keyframes moveRightToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-moveRightToLeft {
  animation:moveRightToLeft 4s linear infinite;
} */
